{% block content %}
<div class="wrapper">
    <div class="row">
        <div class="col md-2">
            <figure class = "figure ">
                <img class="figure-img rounded" src="{{ profile_object.profile_picture.url }}" alt="img" width="300" height="300">
                <figcaption class="figure-caption border-bottom border-dark text-center pb-3 pt-3">This is the page of {{ profile_object.user.username }}</figcaption>
            </figure>
        </div>
        <div class="col md-2 mt-3 align-baseline">
            <p class="h4 mb-4">About {{ profile_object.user.username }}:</p>
            {% if profile_object.bio is not None %}
                {{ profile_object.bio }}<br/><br/><br/>
            {% else %}
                There is nothing to display yet<br/><br/><br/>
            {% endif %}
            <div class="row">
                <div class="col md-3">
                    <i class="fas fa-city"></i> {{profile_object.city}}
                </div>
                <div class="col md-3">
                    <i class="fas fa-flag"></i> {{profile_object.country}}
                </div>
                <div class="col md-3">
                    <i class="fas fa-phone"></i> {{profile_object.phonenumber}}
                </div>
                <div class="col md-3">
                    <i class="fas fa-birthday-cake"></i> {{profile_object.birth_date}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            <ul>
                {% for post in post_list %}
                <li>
                    <a href="../../post/{{post.slug}}">{{post.title}}</a><br>
                    {{post.description}}
                </li>
                <br>
                {% endfor %}
            </ul>
    </div>
</div>
{% endblock %}