<h1>Register Page</h1>

<form>
    <label for="lastname">Last Name</label><br>
    <input type="text" name="lastname"><br>

    <label for="firstname">First Name</label><br>
    <input type="text" name="firstname"><br>

    <label for="username">Username</label><br>
    <input type="text" name="username"><br>

    <label for="email">Email Address</label><br>
    <input type="email" name="email"><br>

    <label for="phonenumber">Phone Number</label><br>
    <input type="text" name="phonenumber"><br>

    <label for="password">Password</label><br>
    <input type="password" name="password"><br>
    <label for="repassword">Reenter Password</label><br>
    <input type="password" name="repassword"><br>

    <br><br>
    <label for="register">Done!</label><br>
    <input type="submit" name="register">

</form>