<h1>Register Page</h1>

<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}
    <label for="register">Done!</label><br>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6LfNT5UcAAAAAJENf5WZb7q33qDydXD7JWVm50mb"></div>
    <input type="submit" name="register">
</form>